footer.content-info {
  border-top: 40px solid $brand-secondary;
  background-color: #f5f5f5;
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: $font-family-sans-serif;
  padding: 20px 0px;
  hr {
    border-color: $gray-lighter;
  }

  // Signup form
  .container-signup-footer {
    font-family: $font-family-serif;
    top: -160px;
    position: relative;
    .card {
      @include blue-card();
      h3 {
        font-family: Courgette,cursive;
        font-size: 40px;
      }
    }
  }
}
